<% layout('./layouts/boilerplate') %>

    <div id="users">
        <% for (let user in currentUsers) { %>
            <div class="user">
                
                <h3 id="name")"><%= currentUsers[user].name.charAt(0).toUpperCase() + currentUsers[user].name.slice(1); %></h3>
                <div class="line"></div>
                <div class="dropdown_content">
                <li><%= currentUsers[user].description %></li>
               <li>Is admin: <%= currentUsers[user].isAdmin %></li>
                <li>Is gay: <%= currentUsers[user].gei %></li>
                <li>Is humble: <%= currentUsers[user].humble %></li>                    
                </div>
            </div>
                
            <% } %>            
    </div>