<% layout('./layouts/boilerplate') %>

    <div id="users">
        <% for (let user in currentUsers) { %>
            <div class="user">
                <h3 class="name"><%= currentUsers[user].name %></h3>
                <div class="line"></div>
                <li><%= currentUsers[user].description %></li>
               <li>Is admin: <%= currentUsers[user].isAdmin %></li>
                <li>Is gay: <%= currentUsers[user].gei %></li>
                <li>Is humble: <%= currentUsers[user].humble %></li>

            </div>
            
            <% } %>            
    </div>